@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300&display=swap");
html, body {
  	  font-family: 'Oswald', sans-serif;
  position: relative;  
    height: 100%; 
width: 100%;
    
}



body { 
  
     
  
    font: normal 75% Arial, Helvetica, sans-serif;
 background: linear-gradient(to bottom, rgb(0,20,38) 100%, rgb(2,55,86) 150%);
    display: flex;
    
   /*background-color: #070057;*/
}


.svg {
  padding-right: 0px;
width: 100%

     
}
.button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
.text {
 display: flex;
 justify-content: left;
 align-items: left;
}
h1 {
 font-size: 100px;
 
 background: -moz-linear-gradient(
  150deg,
  rgba(0, 55, 86, 205) 0%,
  rgba(3, 230, 100, 0) 16%,
  rgba(3, 54, 86, 205) 44%,
  rgba(50, 56, 86, 245) 84%
 );
 background: -webkit-linear-gradient(
  150deg,
  rgba(0, 179, 128, 1) 0%,
  rgba(3, 101, 100, 1) 16%,
  rgba(0, 55, 86, 205) 44%,
  rgba(154, 254, 254, 205) 84%
 );
 background: linear-gradient(
  150deg,
  rgba(0, 200, 200, 1) 0%,
  rgba(200, 200, 200, 205) 16%,
  rgba(30, 200, 255, 254) 44%,
  rgba(254, 100, 100, 205) 84%
 );
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdb380",endColorstr="#031634",GradientType=3);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

/* mise en page */



 20% {
  transform: scale(1);
 }

 40% {
  transform: scale(1.15);
 }

 60% {
  transform: scale(1);
 }
}

     

/**
#particles-js {
    z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  //z-index: 0;
  background-color: #070057;
  //background-image: url("");
  //background-repeat: //repeat;
  //background-size: //cover;
 background-position: 100% 100%;
} /* ---- stats.js ---- 
.count-particles {
  //background: #000022;
  position: fixed;
  //top: 100%;
  //bottom: 100%;
  //left: 100%;
  //right: 100%;
 //width: 100%;
  //height: 100%;
  color: #13e8e9;
  font-size: 0.8em;
  //text-align: left;
  //text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: all;
  //margin-top: 5px;
  //margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 3px 3px;
 //overflow: hidden;
}
.count-particles {
  border-radius: 0 0 0px 0px;
}

#svg
{
  z-index: 1;
    //background-color: #070057;
}
